.content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
 }
.instruction-container{
    width:50%; height: 75px; 
    margin-bottom: 20px;
    color: #673ab7;
    margin-top: 25px;
  }
  .input-container{
    width:50%; height: 50px;
  }

  .input-form{
    width: 100%;
    height: 100%;
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 70px;
    margin-top: 200px;
  }

  .instructions{
    width:100%; height:100%; display: flex; justify-content: center;
    align-items: center;
    align-content: center;
  }