<div style="height: 100%; width: 100%;">
    <div *ngIf="error" class="container" id="error">The selected period should be greater than 6 months</div>
    <form class="container" >
        <mat-form-field appearance="fill" style="margin-right: 15px;">
            <mat-label>Start date</mat-label>
            <input [min]="dates.min" [max]="dates.max" matInput [matDatepicker]="pickerStart" (dateChange)="dateSelected($event)" [formControl]="dateStartCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>End date</mat-label>
            <input [min]="dates.min" [max]="dates.max" matInput [matDatepicker]="pickerEnd" (dateChange)="dateSelected($event)" [formControl]="dateEndCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field> 
    </form>
    
    


    <div echarts  [options]="options" ></div>
</div>