<div style="height: 100%; width: 100%;">
    <form class="container" *ngIf="dates">
        <mat-form-field appearance="fill" style="margin-right: 15px;">
            <mat-label>Start date</mat-label>
            <input [min]="dates.min" [max]="dates.max" matInput [matDatepicker]="pickerStart" (dateChange)="dateSelected($event)" [formControl]="dateStartCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>End date</mat-label>
            <input [min]="dates.min" [max]="dates.max" matInput [matDatepicker]="pickerEnd" (dateChange)="dateSelected($event)" [formControl]="dateEndCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field> 
    </form>

<div style="display: flex; align-items: center; justify-content: center; width: 100%;">
    <ngx-charts-line-chart *ngIf='options'
    [view]="options.view"
    [scheme]="options.colorScheme"
    [showXAxisLabel]="options.showXAxisLabel"
    [showYAxisLabel]="options.showYAxisLabel"
    [xAxis]="options.xAxis"
    [yAxis]="options.yAxis"
    [showGridLines]="options.showGridLines"
    [xAxisLabel]="options.xAxisLabel"
    [yAxisLabel]="options.yAxisLabel"
    [timeline]="options.timeline"
    [results]="data"
    [xAxisTickFormatting]='formatXaxis'
    >
   </ngx-charts-line-chart>
   

</div>
    


</div>