<div style="height: 100%; width: 100%;">
    <form style="width: 100%; display: flex; align-content: center; justify-content: center;">
        <mat-form-field appearance="fill" style="margin-right: 15px; margin-top:5px">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="pickerStart" (dateChange)="dateSelected($event)" [formControl]="dateStartCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-top:5px">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="pickerEnd" (dateChange)="dateSelected($event)" [formControl]="dateEndCrt">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
    


    </form>
    


    <div echarts  [options]="options" ></div>
</div>