
  .container {
    height:calc(100% - 50px - 35px);
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    background: #ffefba; 
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff); 
    background: linear-gradient(to right, #ffefba, #ffffff);  
  }