
  .container {
    height:calc(100% - 56px - 35px);
    width: 100%;
    background: #ffefba; 
    background: -webkit-linear-gradient(to right, #ffefba, #ffffff); 
    background: linear-gradient(to right, #ffefba, #ffffff);  
  }